body{
    margin: 0;
    overflow: hidden;
}

.menu{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: gray;
}

.a{
    text-decoration: none;
    margin-left: 20%;
    font-size: 20px;
    height: 25%;
    background-color: white;
    width: 150px;
    color: black;
}

.nav{
    margin-top: 0;
    height: 90%;
    background-color: gray;
    width: 100px;
    text-align: center;
    position: absolute;

}